{% extends 'layout.html' %} {% block contents %}

	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
		<ul class="flashes">
			{% for category, message in messages %}
				<div class="alert alert-{{category}} alert-dismissible" role="alert">
					{{ message }}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endfor %}
		</ul>
		{% endif %}
	{% endwith %}
		
	<div id="posts"></div>
	{% for post in posts %}
	<div class="card text-center m-5">
		<div class="card-header">{{ post.title }}</div>
		<div class="card-body">
			<p class="card-text">
				{{ post.content[0:120] }}...
				<a href="{{url_for('read_post', post_id=post.id)}}">Read more</a>
			</p>
		</div>
		<div class="small fs-6 card-footer text-muted">
			<div class="row">
				<div class="col-sm-6 text-start">
					Author: <a href="{{url_for('users_posts', user_id=post.author.id)}}" class="text-dark text-decoration-none">
						{{ post.author.name }} </a>
				</div>
				<div class="col-sm-6 text-end">
					Posted on: {{ post.created_at.strftime('%D %H:%M') }}
				</div>
			</div>
		</div>
	</div>
	{% endfor %}

{% endblock %}