{% extends 'layout.html' %}

{% block contents %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flashes">
        {% for category, message in messages %}
            <div class="alert alert-{{category}}" role="alert">
                <li>{{message}}</li>
            </div>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <div class="card text-center m-5">
    <div class="card-header"> {{ post.title }} </div>
    <div class="card-body">
      {% if post.author == current_user %}
        <p class="card-text"> {{ post.content }}</p>
        <a href="{{url_for('update_post', post_id=post.id)}}" class="btn btn-primary">Update Post</a>
        <a href="" class="btn btn-danger">Delete Post</a>
      {% else %}
        <p class="card-text"> {{ post.content }}</p>
      {% endif %}
    </div>
    <div class="small fs-6 card-footer text-muted">
      <div class="row">
        <div class="col-sm-6 text-start ">
          Author: {{ post.author.name }}
        </div>
        <div class="col-sm-6 text-end">
          Date Created: {{ post.date.strftime('%B %d %Y - %H:%M:%S') }}
        </div>
      </div>
    </div>
  </div>

{% endblock contents %}