{% extends 'layout.html' %}
{% block contents %}

    <h4>You searched for: <em>{{q}}</em></h4>

	<!-- Search results for posts -->
    <div class="btn btn-outline-secondary border-0 border-bottom" id="expand-posts">Posts</div>
    &NonBreakingSpace;
    &NonBreakingSpace;
    <div class="btn btn-outline-secondary border-0 border-bottom" id="expand-users">Users</div>
    <br /><br />

    <div class="container-lg m-auto">
        <div id="posts" style="display: block">
            {% if posts %}
                <h5 class="mb-2">Posts</h5>
                {% for post in posts %}
                    <div class="shadow p-3 mb-5 bg-body rounded">
                        <h4>
                            <a href="{{ url_for('read_post', post_id=post.id)}}">
                                {{ post.title }}
                            </a>
                        </h4>
                        <br />
                        {{ post.content[0:120]|safe }}...
                        <br /><br />
                        <small
                            >By: {{ post.author.name }}<br />
                            {{ post.created_at.strftime('%D') }}
                        </small>
                        <a
                            href="{{ url_for('read_post', post_id=post.id)}}"
                            class="btn btn-outline-secondary btn-sm"
                        >
                            View Post
                        </a>
                        {% if post.author.id == current_user.id %}
                            <a
                                href="{{ url_for('update_post', post_id=post.id)}}"
                                class="btn btn-outline-secondary btn-sm"
                            >
                                Edit Post
                            </a>
                        {% elif post.author.id == current_user.id or current_user.is_admin == 1 %}
                            <a
                                href="{{ url_for('delete_post', post_id=post.id)}}"
                                class="btn btn-outline-danger btn-sm"
                                >Delete Post</a
                            >
                        {% endif %}
                        <br /><br />
                    </div>
                    <br />
                {% endfor %}
            {% else %}
                Sorry, no post found with such keyword <strong>{{ q }}</strong>
            {% endif %}
        </div>
        <!-- Search results for users -->
        <div id="users" style="display: none">
            {% if users %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Joined on</th>
                            {% if current_user.isadmin == true %}
                                <th>Block/Unblock</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for user in users %}
                            <tr>
                                <td>
                                    <a href="{{url_for('users_posts', user_id=user.id)}}">{{ user.name }}</a>
                                </td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.created_at.strftime('%D') }}</td>
                                {% if current_user.is_admin == true %}
                                <td>
                                    <a
                                        class="btn text-danger text-decoration-none"
                                        id="block-btn-{{user.id}}"
                                        data-bs-toggle="modal"
                                        data-bs-target="#blockModal{{user.id}}"
                                    >
                                        {% if user.is_blocked == true %}
                                            Unblock
                                        {% else %}
                                            Block
                                        {% endif %}
                                    </a>
                                </td>
                                {% endif %}
                            </tr>
                            <!-- Modal -->
                            <div
                            class="modal fade"
                            id="blockModal{{user.id}}"
                            tabindex="-1"
                            aria-labelledby="blockModalLabel{{user.id}}"
                            aria-hidden="true"
                            >
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="blockModalLabel{{user.id}}">Block Users</h5>
                                            <button
                                                type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close"
                                            ></button>
                                        </div>
                                        <div class="modal-body">
                                            {% if user.is_blocked == 0 %}
                                                Are you sure, you want to Block {{user.name}}?
                                            {% else %}
                                                Are you sure, you want to Unblock {{user.name}}?
                                            {% endif %}
                                        </div>
                                        <div class="modal-footer">
                                            <button
                                                type="button"
                                                class="btn btn-secondary"
                                                data-bs-dismiss="modal"
                                            >
                                                Close
                                            </button>
                                            <form
                                                action="{{url_for('block_user', user_id=user.id)}}"
                                                method="post"
                                            >
                                                <input
                                                    type="submit"
                                                    class="btn btn-danger"
                                                    value="Yes"
                                                />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                Sorry, no users with name <strong>{{ q }}</strong>
            {% endif %}
        </div>
    </div>

{% endblock contents %}
